# {{ ansible_managed }}
[Interface]
Address = {{ wg_int['address'] }}
{% if wg_int['listen_port'] is defined %}
ListenPort = {{ wg_int['listen_port'] }}
{% endif -%}
PrivateKey = {{ wg_int['private_key'] }}
{% if wg_int['dns'] is defined %}
DNS = {{ wg_int['dns'] }}
{% endif -%}

###
# Peers section
# Place any manual peers in {{ wireguard_basedir }}/{{ wg_int['name'] }}.conf.d
###

