# {{ ansible_managed }}
{% for peer in wg_peer['peers'] if not peer == inventory_hostname %}
{% set peer_interface = hostvars[peer]['wireguard_interfaces'] | selectattr('name', '==', wg_peer['name']) | list | first %}
[Peer]
# {{ peer }}
PublicKey = {{ lookup('pipe', 'echo ' + peer_interface['private_key'] | quote + ' | /usr/bin/wg pubkey') }}
{% if wg_peer['listen_port'] is not defined %}
Endpoint = {{ peer_interface['public_address'] }}:{{ peer_interface['listen_port'] }}
{% endif %}
{% if peer_interface['preshared_key'] is defined or
wg_peer['preshared_key'] is defined %}
PreSharedKey = {{ peer_interface['preshared_key'] | default(wg_peer['preshared_key'] ) }}
{% endif %}
AllowedIPs = {% if wg_peer['traffic_mask'] is defined %}{{ wg_peer['traffic_mask'] }}{% else %}{{ peer_interface['peer_traffic_mask'] | default(peer_interface['address']) }}{% endif %}


{% endfor %}
