# {{ ansible_managed }}
{% for peer in wireguard_interface['peers'] if not peer == inventory_hostname %}
[Peer]
# {{ peer }}
PublicKey = {{ lookup('pipe', 'echo ' + hostvars[peer]['wireguard_interface']['private_key'] | quote + '| /usr/bin/wg pubkey') }}
{% if wireguard_interface['listen_port'] is not defined %}
Endpoint = {{ hostvars[peer]['wireguard_interface']['public_address'] }}:{{ hostvars[peer]['wireguard_interface']['listen_port'] }}
{% endif %}
{% if hostvars[peer]['wireguard_interface']['preshared_key'] is defined or
      wireguard_interface['preshared_key'] is defined -%}
PreSharedKey = {{ wireguard_interface['preshared_key']| default(hostvars[peer]['wireguard_interface']['preshared_key']) }}
{% endif %}
AllowedIPs = {% if wireguard_interface['all_traffic'] | default(false) %}0.0.0.0/0{% else %}{{ hostvars[peer]['wireguard_interface']['address'] }}{% endif %}
{% endfor %}
